html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: inherit;
}

p {
  margin-bottom: inherit;
}

h1,
.h1 {
  line-height: $h1-line-height;
}

h2,
.h2 {
  line-height: $h2-line-height;
}

h3,
.h3 {
  line-height: $h3-line-height;
}

h4,
.h4 {
  line-height: $h4-line-height;
}

h5,
.h5 {
  line-height: $h5-line-height;
}

select:disabled {
  opacity: 1;
}

a {
  text-decoration: none;
}
