.text {
  &-primary-0 {
    color: $color-primary-0;
  }

  &-primary-100 {
    color: $color-primary-100
  }

  &-primary-200 {
    color: $color-primary-200
  }

  &-primary-300 {
    color: $color-primary-300
  }

  &-secondary-0 {
    color: $color-secondary-0
  }

  //Font-size
  &-sm {
    //.text-sm
    font-size: $font-size-sm;
    line-height: $sm-line-height;
  }

  &-md {
    //.text-md
    font-size: $font-size-md;
    line-height: $md-line-height;
  }
}

.bg {
  &-primary-0 {
    background-color: $color-primary-0;
  }

  &-primary-100 {
    background-color: $color-primary-100
  }

  &-primary-200 {
    background-color: $color-primary-200
  }

  &-primary-300 {
    background-color: $color-primary-300
  }
}

.rounded-base {
  border-radius: rem(8);
}


.rounded-none {
  border-radius: none;
}

//font-weight

.font-weight-semibold {
  font-weight: $font-weight-semibold;
}

.font-weight-extrabold {
  font-weight: $font-weight-extrabold;
}